header {
    padding: 1.6rem;
    color: white;
}

.header__title {
    font-size: 3.2rem;
    margin: 0;
    font-size: 7rem;
    font-family: $header-font;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    overflow: hidden;
    border: none;
    color: $brand-aux;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 5px 5px 0 $brand-secondary;
}

