.options {
    margin: 1rem 0;
    ul {
        margin: 0;
        padding: 1rem 0;
        li {
            list-style-type: none;
            border-bottom: 1px solid $brand-secondary;
            background-color: white;
            width: 65%;
            margin: 2rem auto;
            position: relative;
            span {
                vertical-align: super;
                text-align: left;
                display: inline-block;
                width: 50%;
            }
            .option__icon {
                display: inline-block;
                text-align: right;
                width: 50%;
                &:hover {
                    cursor: pointer;
                }
            }
            label {
                position: relative;
            }
        }
    }
}

.option__text {
    word-break: break-all;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}