

/* RGB */
$brand-primary: rgba(36, 123, 160, 1);
$brand-secondary: rgba(112, 193, 179, 1);
$brand-bg: rgba(178, 219, 191, 1);
$brand-tertiary: rgba(243, 255, 189, 1);
$brand-aux: rgba(255, 22, 84, 1);

$btn-primary-color: $brand-aux;
$btn-secondary-color: $brand-secondary;


